body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-login, .btn-register {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 5px 0;
}

.btn-login:hover, .btn-register:hover {
    background-color: #0056b3;
}

/* 增加忘记密码和立即注册的上间距和改变字体颜色 */
a {
    font-weight: bold; /* 字体加粗 */
    font-size: 14px; /* 字号加大 */
    color: #0056b3; /* 字体颜色改变 */
    margin-top: 20px; /* 增加上间距为20px */
    display: inline-block; /* 使用inline-block以便可以添加上间距同时保持在同一行 */
}


/* 特别针对忘记密码和立即注册的链接，可以增加更具体的样式 */
a[href="#"]:first-of-type {
    margin-right: 30px; /* 只增加忘记密码右侧的间距 */
}

a[href="#"]:last-of-type {
    margin-left: 30px; /* 只增加立即注册左侧的间距 */
}
